<div class = 'row'>
    <div class = "small-12 columns">
        <%= link_to 'К торговой марке', @trademark %> |
        <%= link_to 'К списку торговых марок', trademarks_path %>
    </div>
</div>

<%= render 'form', trademark: @trademark %>


