<div class = "row">
    <div class = "small-12 columns tb-pad-s">
        <p>
            Нет ни одного типа товара. Здесь вы можете его добавить.
        </p>
        
    </div>
</div>
<%= render "form", product_type: @draft %>