
<%= form_for(:session, url: sessions_path, html: {id: "session_form"}) do |f|  %>
    <p id = "session_callback"></p>
    <%= f.text_field :email, :placeholder => 'E-mail' %>
    <%= f.password_field :password, :placeholder => 'Пароль' %>
    <button class = "button success" type="submit">Войти</button>
<% end %>
