<h2>Вы успешно зарегистрировались <b><%= link_to $site_name, root_url, :target => '_blank' %></b></h2>
<br />
<p>
    Перейдите по ссылке, чтобы подтвердить подлинность вашего аккаунта <b><%= link_to "Ссылка на подтверждение аккаунта", @target_link %>
</p>