<%= render 'boat_for_sales/form' if could_modify_shop? %>
<% if @boat_for_sales.blank? %>
    <div class = "row tb-pad-s">
        <div class = "small-12 columns">
            <p>
                В магазине нет ни одной лодки
            </p>
        </div>
    </div>    
<%else%>
    <%= react_component 'BFSFilteringResult', { data: @boat_for_sales} %>
<%end%>
