

<div class = "row">
    <div class = "small-12 columns">
        <%= react_component 'BoatParameterValuesTableShow', { data: @boat_type.boat_parameters_for_react } %>
    </div>
</div>

<%= link_to 'Edit', edit_boat_type_path(@boat_type) %> |
<%= link_to 'Back', boat_types_path %>
