<%# компонент лежит app/assets/javascript/control/components/users.coffee %>


<%= react_component 'Users', { data: @users } %>


<div class = "row">
   <div class = "small-12 columns">
        <%= link_to 'Добавить пользователя', new_user_path , class: "button" if could_add_user? %>  
   </div> 
</div>


