<% 
    boat_type = BoatType.find(4)
    values = boat_type.hash_view('shop')[:properties]


 %>
 'INNER JOIN property_types ON entity_property_values.property_type_id = property_types.id'
 <% values.each do |v| %>
     <p><%= v[:name] %><%= v[:value] %></p>
<% end %> 