<div id = 'location-field'>
    
    <%= collection_select :location, :country, Country.all, :id, :name, {},{id: "countries"} %>
    <select id = "regions"></select>
    <select id = "cities"></select>
</div>