<h1>Editing Boat Parameter Value</h1>

<%= render 'form', boat_parameter_value: @boat_parameter_value %>

<%= link_to 'Show', @boat_parameter_value %> |
<%= link_to 'Back', boat_parameter_values_path %>
