// Place all the styles related to the BoatTypeOptionGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";
#filters
{
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    font-size: 0.8rem;
    @include breakpoint(small) {padding: 0.75rem;}
    @include breakpoint(medium) {padding: 1.0rem;}
    @include breakpoint(large) {padding: 1.5rem;}
    h5
    {
        //margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    input
    {
        margin-top: 0.45rem;
        font-size: 0.9rem;
        height: 1.8rem;
    }
}
.string-vals-filter
{
    margin-bottom: 2rem;
    ul
    {
        padding: 0;
        margin: 0;
        list-style: none;
        li:last-child
        {
            margin-right: 0;
        }
        li
        {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

#filter-result-control
{
    position: relative;
    margin-bottom: 1.0rem;
    .menu 
    {
        i{font-size: 1.5rem;}
        span{font-size: 1.0rem; vertical-align: 0.25rem;}
    }
}