<div class = "row">
    <div class = "small-12 columns tb-pad-s">
        <%= link_to "Добавить тип продукции", new_product_type_path, class: "button" %>
    </div>
</div>
<div class = "row">
    <div class = "small-12 columns">
        <h3>
            Активные типы продукции
        </h3>
        
        <% if @active.blank? %>
            <p>
                Не ни одного активного типа продукции
            </p>
        <%else%>
            <%= render "manage_index_table", product_types: @active %>
        <%end%>
    </div>
</div>
<% if !@not_active.blank? %>
<div class = "row">
    <div class = "small-12 columns">
        <h3>
            Неиспользуемые типы продукции
        </h3>
        <%= render "manage_index_table", product_types: @not_active %>

    </div>
</div>
<%end%>